# Station listing

Ground measured solar irradiance data is extremely valuable and critical for benchmarking solar radiation products and understanding long-term trends in the radiation budget. However, due to high costs and maintenance requirements, there are only a few hundred high-quality stations globally. This catalog provides an overview of available solar radiation monitoring stations worldwide and supporting metadata.

The current version of this catalog is in a draft phase, where only the BSRN stations are included as a demonstration.

In [9]:
import pandas as pd
pd.set_option('display.max_rows', None)
from itables import init_notebook_mode
init_notebook_mode(all_interactive=True)

df = pd.read_csv('radiationstations.csv', sep=';', encoding='latin1')
df['Time period'] = df['Time period'].fillna(0).astype(int)
df

                       Station full name Abbreviation  \
0                               Abashiri          ABS
1                                  Alert          ALE
2                          Alice Springs          ASP
3                                 Barrow          BAR
4                                Bermuda          BER
5                               Billings          BIL
6                              Bondville          BON
7                                Boulder          BOS
8                                Boulder          BOU
9                               Brasilia          BRB
10                       Budapest-Lorinc          BUD
11                                Cabauw          CAB
12                              Camborne          CAM
13                         Cape Baranova          CAP
14                            Carpentras          CAR
15                      Chesapeake Light          CLH
16                                 Cener          CNR
17                          Cocos Island          COC
18                                De Aar          DAA
19                                Darwin          DAR
20             Concordia Station, Dome C          DOM
21                         Dongsha Atoll          DON
22                           Desert Rock          DRA
23                     Darwin Met Office          DWN
24                 Southern Great Plains          E13
25                Eastern North Atlantic          ENA
26                                Eureka          EUR
27                         Florianopolis          FLO
28                             Fort Peck          FPE
29                               Fukuoka          FUA
30                           Gandhinagar          GAN
31                         Goodwin Creek          GCR
32                        Granite Island          GIM
33                               Gobabeb          GOB
34                               Gurgaon          GUR
35                    Georg von Neumayer          GVN
36                                Howrah          HOW
37                                Ilorin          ILO
38                          Ishigakijima          ISH
39                                 Izaña          IZA
40                             Kwajalein          KWA
41                                Lauder          LAU
42                               Lerwick          LER
43                            Lindenberg          LIN
44                                 Lulin          LLN
45               Langley Research Center          LRC
46                         Lanyu Station          LYU
47                                Momote          MAN
48                       Minamitorishima          MNM
49                              Marguele          MRS
50                          Nauru Island          NAU
51                             Newcastle          NEW
52                            Ny-Ålesund          NYA
53               Observatory of Huancayo          OHY
54          Palaiseau, SIRTA Observatory          PAL
55                            Paramaribo          PAR
56                               Payerne          PAY
57                          Rock Springs          PSU
58                             Petrolina          PTR
59                                Regina          REG
60                        Rolim de Moura          RLM
61            Reunion Island, University          RUN
62                               Sapporo          SAP
63                            Sede Boqer          SBO
64  Selegua, Mexico Solarimetric Station          SEL
65                 São Martinho da Serra          SMS
66                             Sonnblick          SON
67                         Solar Village          SOV
68                            South Pole          SPO
69                           Sioux Falls          SXF
70                                 Syowa          SYO
71                           Tamanrasset          TAM
72                                Tateno          TAT
73                                 Tiksi          TIK
74                            Tiruvallur          TIR
75                        Terra Nova Bay          TNB
76                              Toravere          TOR
77                               Xianghe          XIA
78                        Yushan Station          YUS

                              Location  Latitude  Longitude  Elevation  \
0                                Japan   44.0178   144.2797       38.0
1                  Canada, Lincoln Sea   82.4900   -62.4200      127.0
2        Australia, Northern Territory  -23.7980   133.8880      547.0
3                         USA , Alaska   71.3230  -156.6070        8.0
4                         USA, Bermuda   32.2670   -64.6670        8.0
5                        USA, Oklahoma   36.6050   -97.5160      317.0
6                        USA, Illinois   40.0667   -88.3667      213.0
7                        USA, Colorado   40.1250  -105.2370     1689.0
8                        USA, Colorado   40.0500  -105.0070     1577.0
9                Brazil, Brasilia City  -15.6010   -47.7130     1023.0
10                   Hungary, Budapest   47.4291    19.1822      139.1
11                         Netherlands   51.9711     4.9267        0.0
12                      United Kingdom   50.2167    -5.3167       88.0
13                              Russia   79.2700   101.7500        NaN
14                              France   44.0830     5.0590      100.0
15           USA, North Atlantic Ocean   36.9050   -75.7130       37.0
16                      Spain, Navarra   42.8160    -1.6010      471.0
17  Australia, Cocos (Keeling) Islands  -12.1930    96.8350        6.0
18                        South Africa  -30.6667    23.9930     1287.0
19                           Australia  -12.4250   130.8910       30.0
20                          Antarctica  -75.1000   123.3830     3233.0
21                              Taiwan   20.7000   116.7300        2.0
22                         USA, Nevada   36.6260  -116.0180     1007.0
23                           Australia  -12.4240   130.8925       32.0
24                       USA, Oklahoma   36.6050   -97.4850      318.0
25                    Portugal, Azores   39.0911   -28.0292       15.2
26            Canada, Ellesmere Island   79.9890   -85.9404       85.0
27        Brazil, South Atlantic Ocean  -27.6047   -48.5227       11.0
28                        USA, Montana   48.3167  -105.1000      634.0
29                               Japan   33.5822   130.3764        3.0
30                               India   23.1101    72.6276       65.0
31                    USA, Mississippi   34.2547   -89.8729       98.0
32                       USA, Michigan   46.7210    87.4110      208.0
33               Namibia, Namib Desert  -23.5614    15.0420      407.0
34                               India   28.4249    77.1560      259.0
35      Antarctica, Dronning Maud Land  -70.6500    -8.2500       42.0
36                               India   22.5535    88.3064       51.0
37                             Nigeria    8.5333     4.5667      350.0
38                               Japan   24.3367   124.1644        5.7
39                     Spain, Tenerife   28.3093   -16.4993     2372.9
40                    Marshall Islands    8.7200   167.7310       10.0
41                         New Zealand  -45.0450   169.6890      350.0
42     United Kingdom, Shetland Island   60.1389    -1.1847       80.0
43                             Germany   52.2100    14.1220      125.0
44                              Taiwan   23.4686   120.8736     2862.0
45                       USA, Virginia   37.1038   -76.3872        3.0
46                              Taiwan   22.0370   121.5583      324.0
47                    Papua New Guinea   -2.0580   147.4250        6.0
48             Japan, Minami-Torishima   24.2883   153.9833        7.1
49                             Romania   44.3439    26.0123      110.0
50                               Nauru   -0.5210   166.9167        7.0
51                           Australia  -32.8842   151.7289       18.5
52                 Norway, Spitsbergen   78.9250    11.9300       11.0
53                                Peru  -12.0500   -75.3200     3314.0
54                              France   48.7130     2.2080      156.0
55                             Surinam    5.8060   -55.2146        4.0
56                         Switzerland   46.8150     6.9440      491.0
57                   USA, Pennsylvania   40.7200   -77.9333      376.0
58                              Brazil   -9.0680   -40.3190      387.0
59                              Canada   50.2050  -104.7130      578.0
60                              Brazil  -11.5820   -61.7730      252.0
61                             Reunion  -20.9014    55.4836      116.0
62                               Japan   43.0600   141.3286       17.2
63                              Israel   30.8597    34.7794      500.0
64                              Mexico   15.7840   -91.9902      602.0
65                              Brazil  -29.4428   -53.8231      489.0
66                             Austria   47.0540    12.9577     3108.9
67                        Saudi Arabia   24.9100    46.4100      650.0
68                          Antarctica  -89.9830   -24.7990     2800.0
69                   USA, South Dakota   43.7300   -96.6200      473.0
70                          Antarctica  -69.0050    39.5890       18.0
71                             Algeria   22.7903     5.5292     1385.0
72                               Japan   36.0581   140.1258       25.0
73                     Russia, Siberia   71.5862   128.9188       48.0
74                               India   13.0923    79.9738       36.0
75                          Antarctica  -74.6223   164.2283       28.0
76                             Estonia   58.2540    26.4620       70.0
77                               China   39.7540   116.9620       32.0
78                              Taiwan   23.4876   120.9595     3858.0

    Time period                                            Comment
0          2021                         Candidate station (no. 86)
1          2004                                             Closed
2          1995                                                NaN
3          1992                                                NaN
4          1992                                                NaN
5          1993                                                NaN
6          1995                                                NaN
7          1995                                                NaN
8          1992                                Closed in July 2016
9          2006                                                NaN
10         2019                                                NaN
11         2005                                                NaN
12         2001                                                NaN
13         2016                                                NaN
14         1996                                 Closed in Dec 2018
15         2000              Closed in Dec 2016, structural issues
16         2009                                                NaN
17         2004                                                NaN
18         2000                                                NaN
19         2002                                    Closed Jan 2015
20         2006                                                NaN
21            0                                          Candidate
22         1994                                                NaN
23         2008                                                NaN
24         1997                                                NaN
25            0                                          Candidate
26         2007                                             Closed
27         1994                                                NaN
28         1995                                                NaN
29         2010                                                NaN
30         2014                                                NaN
31         1995                                                NaN
32         2019                                                NaN
33         2012                                                NaN
34         2014                                                NaN
35         1992                                                NaN
36         2014                                                NaN
37         1992             Station closed in mid-2005, no funding
38         2010                                                NaN
39         2009                                                NaN
40         1992                                             Closed
41         1998                                                NaN
42         2001                                                NaN
43         1994                                                NaN
44         2009                                                NaN
45         2014                                                NaN
46         2018                                                NaN
47         1996                                   Closed late 2013
48         2010                                                NaN
49            0                         Candidate Station (no. 88)
50         1998                                   Closed late 2013
51         2017                                                NaN
52         1992                                                NaN
53         2017                                                NaN
54         2003                                                NaN
55         2019                                                NaN
56         1992                                                NaN
57         1998                                                NaN
58         2006                                                NaN
59         1995                                 Closed end of 2011
60         2007                                     Closed in 2008
61         2019                                                NaN
62         2010                                 Closed in Dec 2020
63         2003                                        Closed 2012
64         2020                                                NaN
65         2006                                                NaN
66         2013                                                NaN
67         1998             Closed/no longer maintained since 2002
68         1992                                                NaN
69         2003                                                NaN
70         1994                                                NaN
71         2000  No DIR and DIF data at TAM since 2018: Due to ...
72         1996                                                NaN
73         2010                                                NaN
74         2014                                                NaN
75            0                         Candidate Station (no. 89)
76         1999                                                NaN
77         2005   Station obstructed, no longer in BSRN since 2016
78         2018                                                NaN